{% load static %}
<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="{% static 'css/lentablogov.css' %}" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" /> 	
</head>
<body>
	<div class="main">
		<nav>
			<div class="decode-blog">Decode Blog</div>
			<div class="find">
				<form action="{% url 'profile' %}" method="get" class="find-form">
					<input type="text" name="search" value="{{ search_query }}">
					<label for="sort_by">Sort by:</label>
					<select name="sort_by" id="sort_by">
						<option value="">All</option>
						<option value="life" {% if sort_by == "life" %}selected{% endif %}>Life</option>
						<option value="game" {% if sort_by == "game" %}selected{% endif %}>Game</option>
					</select>
					<input type="submit" value="Найти">
				</form>
			</div>
			<div class="profile">
				<a href="{% url 'profile' %}">Profile</a>
			</div>
		</nav>
		<br> <br>
		<main>
			<div class="main-invis2">
				<div class="first">
					<span>Comments for: {{publication.title}}</span>
				</div>
				<form action="" method="post" enctype="multipart/form-data" class="form"> 
					{% csrf_token %}
					<textarea name="text" class="text-new">

					</textarea>
					<input class="sub" type="submit" value="Add">
				</form>
			</div>
			<div class="comments">
				{% for comment in comments %}
				<div class="comm">
					<div class="fr-com">
						<img src="{{comment.author.avatar}}" alt="">
						<span>{{ comment.author.username }}</span>
					</div>
					<div class="sc-com">{{comment.text}}</div>
				</div>
				{% endfor %}
			</div>
		</main>
	</div>
</body>
</html>