<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="../static/css/register.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" />
  	
  	
  	
</head>
<body>
	<form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
	{% csrf_token %}
		<div class="macbook-pro-7">
    		<div class="macbook-pro-7-child">
    		</div>
    		<div class="decode-blog">Decode Blog</div>
    		<img class="macbook-pro-7-item" alt="" src="Line 1.svg">
    		
    		<div class="rectangle-parent1">
      			<div class="group-child1">
      			</div>
      			<div class="email"><input type="email" name="email" placeholder="Введите email"></div>
      			<div class="rectangle-parent2">
        				<div class="group-child1">
        				</div>
        				<div class="div4"><input type="text" name="username" placeholder="Введите ник"></div>
      			</div>
				<div class="rectangle-parent4">
					<div class="group-child1">
					</div>
					<div class="div6"><input type="file" name="avatar" accept="image/*"></div>
			    </div>
      			<div class="rectangle-parent3">
        				<div class="group-child1">
        				</div>
        				<div class="div6"><input type="password" name="password" placeholder="Введите пароль"></div>
      			</div>
    		</div>
			
    		<div class="rectangle-parent5">
      			<div class="group-child5">
      			</div>
      			<a class="div7" href="{% url 'login' %}">       Вход</a>
    		</div>
    		<div class="rectangle-parent6">
      			<div class="div8"><input class="group-child6" type="submit" value="Зарегистрироваться">     </div>
    		</div>
			</form>
    		<div class="div10">Регистрация</div>
  	</div>
  	
  	
  	
  	
</body>
</html>